<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries for data science
- List a few data science tools
- Evaluating a few arithmetic expressions in Python

Some of the popular languages that data scientists use are
1. Python
2. R 
3. Structured Query Language (SQL)
4. Java
5. C++
6. Scala
7. Julia
and many more.

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. ggplot2
   and many more.

A few data science tools have been listed below:
| Data Science Tools |
| -: |
| Jupyter Notebooks |
| Jupyter Lab |
| RStudio |
| Spyder |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [20]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60 
print(hours)

3.3333333333333335

<h2>Author</h2>
Ipshita Dutta